# Dependencies
node_modules

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# OS Files
.DS_Store
thumbs.db

# Large Media
docs/.vuepress/lfs

# Build folder
docs/.vuepress/dist/*

# Lock files
# package-lock.json
# yarn.lock

# Local files
# _posts

docs/.vuepress/.temp
docs/.vuepress/.cache
